<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <%- include("./partials/navBar.ejs") %>
    <main class="container mt-5">
        <div class="row">
            <% blogs.forEach(blog => {%>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <img src="<%= blog.imageUrl %>"
                            class="card-img-top" alt="<%= blog.title %>">
                            <h5 class="card-title"><%= blog.title  %></h5>
                            <p class="card-text"><%= blog.author %></p>
                            <a href="/blog/<%= blog.id %>" class="btn btn-primary">Ver Blog</a>
                        </div>
                    </div>
                </div>
                
            <% }); %>
        </div>
        
    </main>

    <script src="/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>